@tailwind base;
@tailwind components;
@tailwind utilities;

.table-orange th {
    background-color: #f6b231 !important;
    color: white !important;
}

.border-indigo-400 {
    --tw-border-opacity: 1;
    border-color: #f6b231;
}

/* Remove text underline from action icons */
a {
    text-decoration: none !important; /* Disable underline */
}

/* Optionally add a hover effect */
a:hover {
    text-decoration: none; /* Prevent underline on hover as well */
    color: inherit; /* Keep the original color on hover */
}

/* Custom Feather Icon Styling */
.action-icon {
    width: 1.5em; /* Adjust icon size */
    height: 1.5em; /* Consistent height */
    vertical-align: middle; /* Vertical alignment fix */
    stroke-width: 2.5px; /* Control thickness of the icons */
    cursor: pointer; /* Pointer cursor for interactivity */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

/* Hover effect for icons */
.action-icon:hover {
    transform: scale(1.2); /* Slight zoom effect on hover */
}

/* Ensure alignment within table cells */
td a {
    display: inline-flex; /* Ensure icons remain inline */
    align-items: center; /* Align icons in the center */
    justify-content: center;
}
